* {
    font-family: Roboto;
}

body {
    margin: 0;
}

.section-one-background-color {
    padding-bottom: 60px;
    background-color: #1f2937;
}

.header {
    margin-bottom: 40px;
    padding: 10px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero {
    padding: 20px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-left {
    width: 500px;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    padding: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    border-radius: 6px;
    font-weight: 900;
}

.hero-image {
    height: 211px;
    width: 500px;
}

.information {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.information-header {
    padding-top: 30px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.card-image {
    border-radius: 10px;
}

.card-subtext {
    max-width: 150px;
    text-align: center;
}

.section-three-background-color {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.quote {
    width: 800px;
    padding: 90px;
    display: flex;
    flex-direction: column;
}

.quotation {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    background-color: #3882f6;
    margin: 90px 17%;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.call-to-action-main-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.call-to-action-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.call-to-action-button {
    background-color: #3882f6;
    padding: 5px 20px;
    font-size: 14px;
    color: #e5e7eb;
    font-weight: 900;
    border-color: #f9faf8;
    outline: none;
}

.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
    text-align: center;
    padding: 30px;
}